<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          {{#link-to 'home' class="navbar-link"}}
            Home
          {{/link-to }}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li>
          {{#link-to 'pet' class="navbar-link"}}
        		Username
          {{/link-to }}
        </li>
        <li>     
          {{#link-to 'pet' class="avatar"}}      	
              
    	          <img alt="Profile" src="/assets/images/dog_photo_profile.jpg" class="img-responsive" />           
            	
          {{/link-to }}
        </li>
      </ul>
    </div>
  </div>
</nav>
