<div class="col-sm-6 col-sm-offset-3">	
	<div class="list-group">
		<div class="list-group-item">
			<div class="container-fluid">
				<div class="col-sm-4">
					<img src="assets/images/dog_profile.jpg"  height="100">			
				</div>
				<div class="col-sm-8">						
					<h3> Boss</h3>
					<p>Cumpleaños: 13 Febrero 2018 </p>	
				</div>					
			</div>				
		</div>	
	</div>
</div>

