<div class="col-sm-8 col-sm-offset-2">
  <div class="row contailner-fluid">
    <div class="col-sm-4">
      <img src="/assets/images/dog_profile.jpg"  class="img-rounded" height="200" width="200">
    </div>
    <div class="col-sm-8">
      <h3> Boss</h3>
      <p>Cumpleaños: 13 Febrero 2018 </p>
      {{#link-to 'pet.description' class="btn btn-info btn-block"}}
          Mis vacunas
      {{/link-to}}
      {{#link-to 'pet.description' class="btn btn-info btn-block"}}
          Recordatorios
      {{/link-to}}
    </div>
  </div>
  <div class=" row contailner-fluid text-center" >
    <div>
      <h1>Mis recuerdos</h1>
    </div>
  </div>

</div>
