<div class="col-sm-6 col-sm-offset-3">
	<div class="list-group">
		<div class="list-group-item">
			<div class="container-fluid">
			{{#link-to 'pet'}}
				<div class="col-sm-4">
					<img src="/assets/images/dog_profile.jpg"  class="img-rounded" height="100" width="100">
				</div>
				<div class="col-sm-8">
					<h3> Boss</h3>
					<p>Cumpleaños: 13 Febrero 2018 </p>
				</div>
			{{/link-to}}
			</div>
		</div>
		<div class="list-group-item">
			<div class="container-fluid">
				<div class="col-sm-4">
					<img src="/assets/images/dog_profile1.jpg" class="img-rounded" height="100" width="100">
				</div>
				<div class="col-sm-8">
					<h3> Ozzy</h3>
					<p>Cumpleaños: 6 Julio  2018 </p>
				</div>
			</div>
		</div>
		<div class="list-group-item">
			<div class="container-fluid">
				<div class="col-sm-4">
					<img src="/assets/images/dog_profile2.jpg"  class="img-rounded" height="100" width="100">
				</div>
				<div class="col-sm-8">
					<h3> Nena </h3>
					<p>Cumpleaños: 15 Enero 2018 </p>
				</div>
			</div>
		</div>
	</div>
</div>
