<div class="container ">
	<div class="col-md-4 ">
		{{#twitter-feed}}
	  		<a class="twitter-timeline"  href="https://twitter.com/hashtag/PetCare" data-widget-id="792536826896486401">Tweets sobre #PetCare</a>
		{{/twitter-feed}}
	</div>
	<div class="col-md-8"> 	
		{{home-images}}
	</div>
</div>






            
                     
          
