<<<<<<< HEAD

{{outlet}}
=======
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>
				{{#link-to 'pet.new' class="btn btn-info btn-block"}}
					Nueva mascota
				{{/link-to}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="container">
			{{pet-list}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>
				{{#link-to 'pet.new' class="btn btn-info btn-block"}}
					Reportar avistamiento
				{{/link-to}}
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>
				{{#link-to 'perdidos' class="btn btn-info btn-block"}}
					Perdi a mi mascota?
				{{/link-to}}
			</p>
		</div>
	</div>
</div>
>>>>>>> 157d65ace475a1595a901d91037dc2e41eed8f5f
