<div class="container">
  <div class="row">
    <h1 class="text-center">Perros Perdidos</h1>
    <div class="col-md-1">
    </div>
    <div class="col-md-10 well table-responsive">
      <table class="table table-hover table-reflow">
  <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Nombre</th>
      <th class="text-center" style="width:40%">Descripcion</th>
      <th class="text-center">Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Firulais</td>
      <td><p>Se le baño, tomaba el sol al sacar la camioneta se salio al portico.
        Una persona la quiso llevar y se asusto, salio corriendo y no la pudimos alcanzar</p></td>
      <td><img src="/img/dog1.jpg" alt=""  class="img-responsive img-rounded perro center-block"/></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tayzon</td>
      <td><p>
        El viernes diez de junio mi perro Tayzon se perdió salió de mi casa en la calle
        30 de abril en el saucillo mineral de la Reforma Hidalgo, fue el día de la feria de la colonia a las nueve de la mañana.
         Cuando pasaron con su celebración religiosa</p></td>
      <td><img src="/img/dog2.jpg" alt=""  class="img-responsive img-rounded perro center-block"/></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rocky</td>
      <td><p>
        El día jueves veintiocho de mayo de dos mil quince, se escapo de mi casa ubicada en la Colonia Forjadores,
         en el Municipio del Mineral de la Reforma, Hidalgo, mi mascota de nombre de Rocky, extraviándose de mi domicilio,
          pues, al abrir la puerta salió ...
      </p></td>
      <td><img src="/img/dog3.jpeg" alt="" class="img-responsive img-rounded perro center-block" /></td>
    </tr>
  </tbody>
</table>


    </div>
  </div>
</div>
